:host {
    width: 100%;
}
.education {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 100px;

}
.list-wrapper {
    color:  #cc4b2c;
    margin-bottom: 50px;
}