<section class="education">
    <div class="list-wrapper">
        <h1>Educational Training</h1>
        <h2>Web Academy (Kyiv)</h2>
        <ul>
            <li>Attended from Aug. 2019 to
                November 2019</li>
            <li>Technologies used in the
                course: CSS, HTML, SCSS, JS,
                ES6, Webpack, npm, BEM,
                Flexbox</li>
        </ul>
    </div>


    <div class="list-wrapper">
        <h1>Technical University of Kosice (Slovakia)  </h1>      
        <h2>Bachelor degree in Industrial Engineering/Industrial Management</h2>
        <ul>
            <li>Went from Sept. 2016 to July
                2019
                </li>
            <li>Diploma with honours
            </li>
            <li>
                Dean’s Award for
                Outstanding Achievements
            </li>
        </ul>
    </div>


    <div class="list-wrapper">
        <h1>Ukrainian-Canadian business center SBEDIF(Ivano-Frankivsk)</h1>
        <h2>English course</h2>
        <ul>
            <li>Attended from June 2017 to
                September 2017
                </li>
            <li>76 hours
            </li>
            <li>
                Conversational English
            </li>
            <li>
                Intermediate level
            </li>
        </ul>
    </div>


</section>
