<section class="about-wrapper">
    <h1>About me</h1>
    <p class="about-me" >
        Hi, I'm looking for
        opportunities to be part
        of a team as a junior
        web developer.
    </p>

    <div class="list-wrapper">
        <h1>My hobbies</h1>
        <ul>
            <li>Travelling</li>
            <li>Learning and teaching foreign languages</li>
            <li>Modern dancing</li>
            <li>Watching biographical movies</li>
            <li>Reading non-fiction books</li>
        </ul>
    </div>


</section>
