:host {
    width: 100%;
}
.skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 100px;

}
.list-wrapper {
    color:  #cc4b2c;
    margin-bottom: 50px;
}

h3 {
    font-size: 18px;
}
.list-language {
    width: 70%;
    color: #cc4b2c;
    font-weight: bold;
    
}

:host::ng-deep h1, h2, h3, h4  {
    font-family: 'New Tegomin', serif;
    font-weight: bold;
}