<section class="skills">
    <div class="list-wrapper">
        <h1>Professional Skills</h1>
        <ul>
            <li>HTML, CSS, Flexbox, BEM,
                SCSS, JavaScript, ES6.
                </li>
            <li>Webpack, NPM, GIT</li>
            <li>Adobe Illustrator</li>
            <li>Visual Studio Code, TrelloVisual Studio Code, Trello</li>
        </ul>
    </div>


    <div class="list-wrapper">
        <h1>Career Summary</h1>
        <h2>Slovak tutor</h2>
        <h3>Freelance</h3>
        <h4>June 2019 to present</h4>
        <ul>
            <li>Teaching Slovak on the online platform Buki.com</li>
            <li>Course of conversational Slovak and grammar</li>
            <li>More than 18 satisfied students already studying at Slovak universities</li>
            <li>Improving my communication skills and soft-skills</li>
        </ul>
    </div>


    <div class="list-language">
        <h1>Languages:</h1>
        <p>Ukrainian</p>
        <mat-progress-bar mode="determinate" value="100" color="warn"></mat-progress-bar>
        <p>Slovak</p>
        <mat-progress-bar mode="determinate" value="80" color="warn"></mat-progress-bar>
        
        <p>English</p>
        <mat-progress-bar mode="determinate" value="60" color="warn"></mat-progress-bar>
       
        <p>Czech</p>
        <mat-progress-bar mode="determinate" value="60" color="warn"></mat-progress-bar>
     

    </div>

</section>
