 <section>
    
    <nav class="navigation"> 
    <div><mat-icon  class="label-icon" aria-hidden="false" aria-label="Code">code</mat-icon></div>
      
    <a  routerLink="/home" routerLinkActive="active-link"> <mat-icon class="menu-icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon>Home</a>
    <a  routerLink="/about" routerLinkActive="active-link"><mat-icon  class="menu-icon" aria-hidden="false" aria-label="About">perm_identity</mat-icon>About</a>
    <a routerLink="/education" routerLinkActive="active-link"><mat-icon class="menu-icon" aria-hidden="false" aria-label="Education">school</mat-icon>Education</a>
    <a routerLink="/skills" routerLinkActive="active-link"><mat-icon class="menu-icon" aria-hidden="false" aria-label="Work">work</mat-icon>Skills</a> 
    
  </nav>
  <router-outlet>
  </router-outlet>
  </section>
