<section class="home">
    <div class="info"> 
        <img class="my-photo" src="./assets/oliachipko.jpg" alt="myphoto">
        <p class="name">Olia Chipko</p>
        <p class="position">Frontend Developer</p>
        <div class="information-wrapper">     
            <a href="tel:+380968667069" class="address-link"><mat-icon class="menu-icon" aria-hidden="false" aria-label="Phone">phone_iphone</mat-icon></a>
            <a href="mailto:olyachipko@gmail.com" class="address-link"><mat-icon class="menu-icon" aria-hidden="false" aria-label="Email">email</mat-icon></a>        
            <a href="linkedin.com/in/olia-chipko/" class="address-link"><mat-icon class="menu-icon" aria-hidden="false" aria-label="LinkedIn">laptop_chromebook
            </mat-icon></a>
            <a href="https://github.com/oliachipko" class="address-link"><mat-icon class="menu-icon" aria-hidden="false" aria-label="GitHub">integration_instructions
            </mat-icon></a>
        </div>
        <span class="info-bold">City:</span>
        <p>Ivano-Frankivsk(Ukraine)</p>

    </div>

</section>
